*
{
   font-size: 1em;
   font-family: Calibri;
    content: "\f0c4";
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html body .ui-bar-inherit {
	background-color: 			#55C0E4 /*{a-bar-background-color}*/;
	border-color:	 		#C1A2CC /*{a-bar-border}*/;
	color: 					#FFFFFF /*{a-bar-color}*/;
	text-shadow:none;
	font-weight: bold;
}

/* Overiding JQM defaults for navbar theme */	
.custom-navbar ul li a {
    background: #55C0E4 !important;
	text-shadow:none !important;
	line-height:2em;
	border:none;
	border-right:solid !important;
	border-color:#CED6E3 !important;
}





































.active-page{
	text-shadow:#FFFFFD !important;
	color:#F5951C !important;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.row{
	margin-top:  10px !important;
}

.centerVideo{
margin-left: 20px;
margin-top: 10px;

}
	
.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

#search, #bars, #grid, #search-results {
	display:none;
}



.display-content{
	display:block !important;
}

.hide-content{
	display: none;
}

#grid{
	background-color: black !important;
}

#FavouritesContainer{
	display: none;
}